html,
body {
  background: url("../src/assets/white-waves.png");
  background-repeat: repeat;
  /* background-size: cover; */
  color: white;
  height: 100%;
  width: 100%;
}

.content {
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.144);
  padding: 20px;
  border-radius: 10px;
}

.title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: rgb(0, 0, 0);
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}
